.weather .metadata-container {
    display: none !important;
}

.weather_current_1,
.weather_current_2,
.weather_current_3,
.weather_current_4 {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #a1c4fd, #c2e9fb);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #333;
}
